:host{
    height: 100%;
    width: 100%;
   
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
.sidebar-bg{
    background: hsl(212, 49%, 49%);
 
}