.card.analytics.card-body{
   
    display: flex !important;
    justify-content: center !important;
   align-items: center !important;  
  overflow-x: auto !important;
  /* padding-left:10px !important;
  padding-right:10px !important; */

   
 }
 #info-card .card{
   max-height: 7rem !important;
   min-height: 7rem !important;
   overflow-y: auto !important;
 }
 
 #info-card .card h4{
   max-width: inherit !important;
   text-overflow: ellipsis !important;
   overflow-x: auto !important;
   
 }

 .card.analytics.card-body .title{
    width:100%;
    max-width:100%;
    overflow-x: auto;
 }

 .card.analytics.card-body .value{
    width:100%;
    max-width:100%;
    overflow-x: auto;
 }
#panel input{
   padding: 5px;
   border: 1px solid gainsboro;
}

#panel input:focus{
   box-shadow: none;
}
#analytic .card {
   max-height: 10em;
   min-height: 10em;
 }
 

 .cards-container {
   max-width: 90%; /* Adjust as needed */
   overflow-x: hidden;
   position: relative;
}

.card-content {
   overflow-x: auto;
   white-space: nowrap;
   padding-bottom: 20px; /* Ensure space for the button */
}

.scroll-right-btn {
   position: absolute;
   top: 0;
   right: 0;
   background-color: #fff; /* Adjust as needed */
   border: 1px solid #ccc; /* Adjust as needed */
   padding: 5px 10px; /* Adjust as needed */
   display: none;
   z-index: 1;
}

.container:hover .scroll-right-btn {
   display: block;
}
