<div class="wrapper ">
    <div id="formContent">

        <div class="fadeIn first">
            <!-- <img src="assets/images/customer_logo.png" id="icon" /><br> -->
            <div class="page-header">
                <br><h3>Create New Account</h3>
            </div><br>
        </div>
      
        <form [formGroup]="CreateAccountForm">

            <div id="input">

                <div class="form-floating">
                    <input
                        type="text"
                        id="fullName"
                        class="form-control"
                        placeholder="Full Name"
                        formControlName="fullName"
                        (keyup.enter)="ToNextField('department')"
                        required
                    />
                    <label for="fullName" class="center-label">Full Name</label>
                </div>

                <div class="form-floating">
                    <input
                        type="text"
                        id="department"
                        class="form-control"
                        placeholder="Department"
                        formControlName="department"
                        (keyup.enter)="ToNextField('contactNumber')"
                        required
                    />
                    <label for="department" class="center-label">Department</label>
                </div>

                <div class="form-floating">
                    <input
                        type="text"
                        id="contactNumber"
                        class="form-control"
                        placeholder="Contact Number"
                        formControlName="contactNumber"
                        (keyup.enter)="ToNextField('emailid')"
                        required
                    />
                    <label for="contactNumber" class="center-label">Contact Number</label>
                </div>
  
                <div class="form-floating">
                    <input
                        type="text"
                        id="emailid"
                        class="form-control"
                        placeholder="Email Id"
                        formControlName="emailid"
                        (keyup.enter)="ToNextField('password')"
                        required
                    />
                    <label for="emailid" class="center-label">Email Id</label>
                </div>

                <div class="form-floating">
                    <input
                        type="password"
                        id="password"
                        class="form-control"
                        placeholder="Password"
                        formControlName="password"
                        (keyup.enter)="ToNextField('token')"
                        required
                    />
                    <label for="password" class="center-label">password</label>
                </div>

                <div class="form-floating">
                    <input
                        type="password"
                        id="token"
                        class="form-control"
                        placeholder="Token"
                        formControlName="token"  
                        required
                    />
                    <label for="token" class="center-label">Token</label>
                </div>
  
                <!-- <p *ngIf="fail" style="color: rgb(208, 30, 30)">
                    <small>Email Id OR password is incorrect</small>
                </p> -->

                <button type="submit" [disabled]="!CreateAccountForm.valid" (click)="CreateAccountSubmit()" class="fadeIn second">

                    <div *ngIf="isLoading">
                        <span
                            class="spinner-border spinner-border-sm me-1"
                            role="status"
                            aria-hidden="true">
                        </span>SIGNNING UP...
                    </div>

                    <div *ngIf="!isLoading">
                        <b>Sign Up</b>
                    </div>

                </button>
        
            </div>

        </form>
        
    </div>
  </div>