<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="assets/images/customer_logo.png" id="icon" />
        </div>
    
       
        <p-tabView (onChange)="OnTabChange($event)"  [activeIndex]="selectedTabIndex" > 

            <p-tabPanel header="Admin" [selected]="firstTabSelected">

                <form [formGroup]="AdminLoginForm">

                    <div class="d-flex align-items-center float-end" 
                        style="color:hsl(212, 49%, 49%) ; cursor: pointer !important;">
                            <p (click)="CreateAccount()"><b>Create New Account ?</b></p>

                    </div><br><br>

                    <div class="form-floating">
                        <input
                            type="text"
                            id="emailid"
                            class="form-control"
                            placeholder="Email ID"
                            formControlName="emailid"
                            (keyup.enter)="ToNextField('password')"
                            [ngClass]="
                            AdminLoginForm.get('emailid').invalid &&
                            AdminLoginForm.get('emailid').touched
                              ? 'is-invalid'
                              : ''
                          "
                            required
                        />
                        <label for="emailid" class="center-label">Email Id </label>
                    </div>
    
                    <div class="form-floating">
                        <input
                            type="password"
                            id="password"
                            class="form-control"
                            placeholder="Password"
                            formControlName="password"
                            (keyup.enter)="ToNextField('token')"
                            [ngClass]="
                            AdminLoginForm.get('password').invalid &&
                            AdminLoginForm.get('password').touched
                              ? 'is-invalid'
                              : '' "
                            required
                        />
                        <label for="password" class="center-label">password</label>
                    </div>

                    <div class="form-floating">
                        <input
                            type="password"
                            id="token"
                            class="form-control"
                            placeholder="Token"
                            formControlName="token"
                            [ngClass]="
                            AdminLoginForm.get('token').invalid &&
                            AdminLoginForm.get('token').touched
                              ? 'is-invalid'
                              : ''
                          "
                            required
                        />
                        <label for="token" class="center-label">Token</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center" 
                        style="color:hsl(212, 49%, 49%) ; cursor: pointer !important;" >

                        <p (click)="OpenForgotPasswordModal(ForgottenPasswordModal)"><b>Forgot password ?</b></p>

                    </div>
        

                            <!-- <p *ngIf="fail" style="color: rgb(208, 30, 30)">
                                <small>Email Id OR password is incorrect</small>
                            </p> -->

                    <button *ngIf="!adminAlreadyLoggedIn" type="submit" [disabled]="!AdminLoginForm.valid" 
                        class="fadeIn second"   (click)="AdminLoginSubmit()" >

                        <div *ngIf="adminLoginLoading">
                            <span
                                class="spinner-border spinner-border-sm me-1"
                                role="status"
                                aria-hidden="true">
                            </span>LOGGING IN...
                        </div>

                        <div *ngIf="!adminLoginLoading">LOG IN</div>

                    </button>

                    <button *ngIf="adminAlreadyLoggedIn" type="submit" [disabled]="!AdminLoginForm.valid " 
                        class="fadeIn second" (click)="userLoggedType==='admin'?adminLogout():userLogout()">

                        <div *ngIf="adminLogoutLoginLoading">
                            <span
                                class="spinner-border spinner-border-sm me-1"
                                role="status"
                                aria-hidden="true">
                            </span>LOGGING IN...
                        </div>
                        <div *ngIf="!adminLogoutLoginLoading">LOG OUT & LOGIN</div>

                    </button>
  
                </form>
    
            </p-tabPanel>

            <p-tabPanel header="User">

                <form [formGroup]="UserLoginForm" >

                    <div class="form-floating">  
                        <input
                            type="text"
                            id="emailid"
                            class="form-control"
                            placeholder="Email ID"
                            formControlName="emailid"
                            required
                            (keydown.enter)="FocusNext(password)"
                            [ngClass]="
                            UserLoginForm.get('emailid').invalid &&
                            UserLoginForm.get('emailid').touched
                              ? 'is-invalid'
                              : ''
                          "
                            #emailid
                        />
                        <label for="emailid" class="center-label">Email Id</label>
                    </div>
                        
                    <div class="form-floating">
                        <input
                            type="password"
                            id="password"
                            class="form-control"
                            placeholder="Password"
                            formControlName="password"
                            (keydown.enter)="FocusNext(token)"
                            [ngClass]="
                            UserLoginForm.get('password').invalid &&
                            UserLoginForm.get('password').touched
                              ? 'is-invalid'
                              : ''
                          "
                            required
                            #password
                        />
                        <label for="password" class="center-label">password</label>
                    </div>

                    <div class="form-floating">
                        <input
                            type="password"
                            id="token"
                            class="form-control"
                            placeholder="Token"
                            formControlName="token"
                            required
                            [ngClass]="
                            UserLoginForm.get('token').invalid &&
                            UserLoginForm.get('token').touched
                              ? 'is-invalid'
                              : ''
                          "
                            #token
                        />
                        <label for="token" class="center-label">Token</label>
                    </div>

                        <!-- <p *ngIf="fail" style="color: rgb(208, 30, 30)">
                            <small>Email Id OR password is incorrect</small>
                        </p> -->

                    <button *ngIf="!userAlreadyLoggedIn" type="submit" [disabled]="!UserLoginForm.valid " class="fadeIn second" (click)="UserLoginSubmit()">

                        <div *ngIf="userLoginLoading">
                            <span
                                class="spinner-border spinner-border-sm me-1"
                                role="status"
                                aria-hidden="true">
                            </span>LOGGING IN...
                        </div>

                        <div *ngIf="!userLoginLoading">LOG IN</div>

                    </button>

                    <button *ngIf="userAlreadyLoggedIn" type="submit" [disabled]="!UserLoginForm.valid" class="fadeIn second" (click)="userLoggedType ==='user'?userLogout():adminLogout()">

                        <div *ngIf="userLogoutLoginLoading">
                            <span
                                class="spinner-border spinner-border-sm me-1"
                                role="status"
                                aria-hidden="true">
                            </span>LOGGING IN...
                        </div>
                        <div *ngIf="!userLogoutLoginLoading"> LOG OUT And LOG IN</div>

                    </button>
 
                </form>

            </p-tabPanel>

        </p-tabView>
    
    </div>
</div>


<ng-template let-modal #ForgottenPasswordModal>
    <div class="modal-header">
        <h4 class="modal-title" style="color:  hsl(212, 50%, 35%)">Reset password</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body" id="dataTable">
     
        <form action="" class=""   [formGroup]="ForgottenPasswordForm"  >
          <!-- <div class="col-12 card"> -->
            <div id="input">
                <div  class="wrapper">
                    <div class="col-12 card"  *ngIf="!gotOTP">

                        <div class="form-floating">
                            <h6 class="sub-header">Enter Your Registered Email ID:</h6>
                        </div>

                        <div class="form-floating">
                            <input type="text" placeholder="Email Id" class="form-control"  formControlName="emailid" id="emailid" required/>
                            <label for="emailid"> Email Id</label>
                        </div>

                        <div class="form-floating">
                            <button type="submit"  (click)="GetOTP()">
                                GET OTP
                            </button>
                        </div>

                    </div>

        
                    <div class="col-12 card"  *ngIf="!isOTPVerified && gotOTP">


                        <div class="form-floating">
                            <h6 class="sub-header">Enter Generated OTP:</h6>
                        </div>
                        <br>

                        <div class="form-floating" >
                            <div  class="justify-content-center">
                                <span style="background-color: #4c4949; color:white; padding:13px; justify-content: center;font-size: larger;">{{OTP?OTP+captcha:'CAPTCHA'}}</span>
                            </div>
                        </div> 
                        <br>

                        <div class="form-floating">
                            <input type="password" placeholder="Enter OTP" class="form-control" formControlName="userInput"  id="userInput"  />
                            <label for="userInput"> Enter OTP</label>
                        </div>

                        <div *ngIf="gotOTP && !isOTPVerified" class="wrapper">
                                <button type="submit"  (click)="VerifyCaptcha()"> Verify</button>
                        </div>

                    </div>

            


                </div>
            </div>
                
      
            <div *ngIf="isOTPVerified">
                <div class="form-floating">
                    <h6 class="sub-header">Enter New Password</h6>
                </div>

                <div class="wrapper">

                    <div class="form-floating">
                        <input type="password" placeholder="New Password" class="form-control" formControlName="forgottenNewPassword" id="forgottenNewPassword" (keydown.enter)="FocusNext(forgottenConfirmPassword)"
                        #forgottenNewPassword />
                        <label for="forgottenNewPassword">New Password</label>
                    </div>

                    <div class="form-floating">
                        <input type="password" placeholder="Confirm password" class="form-control" formControlName="forgottenConfirmPassword"   id="forgottenConfirmPassword" 
                        #forgottenConfirmPassword/>
                        <label  for="forgottenConfirmPassword">Confirm password</label>
                    </div>

                </div>
          

          
                <div class="wrapper">
                    <button type="submit" [disabled]="!ForgottenPasswordForm.valid" (click)="ForgottenPasswordSubmit()"><span>Submit</span></button>
                </div>

            </div>
        </form>
          
    </div>

</ng-template>


