<div class="container-fluid dashboard-content" id="content">
        <div class="h4">Danger Zone Violations</div><br>

    <!-- ============================================================== -->
    <!-- INPUTS -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="">
            <div class="d-flex flex-row card" id="data-card" style="border-radius:7px !important;">

                <div class="me-3">
                    <div class="container p-3">
                        <fa-icon icon="filter"></fa-icon>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-sm-12 mb-2">
                    <div class="row d-flex align-items-center">

                        <span class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12">
                            <div class="datePickerContainer" (click)="openDatePicker($event)">
                                <div class="w-80">
                                    <input type="text"  [showCustomRangeLabel]="true" ngxDaterangepickerMd #datepicker
                                        [ranges]="ranges" [timePicker]="true" placeholder="Select Date"(change)="Submit()"
                                        [(ngModel)]="selectedMoments" required id="dateInput" autocomplete="off" class="form-control" />
                                </div>

                                <div class="input-group-append">
                                    <button class="ngx-daterangepicker-action btn default" type="button">
                                        <fa-icon icon="calendar" class="ngx-daterangepicker-action"
                                            (click)="openDatePicker($event)"></fa-icon>
                                    </button>
                                </div>

                            </div>
                        </span>


                        <div class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12" id="filter">
                            <p-treeSelect [containerStyleClass]="'w-100'" class="w-100 d-flex"
                                [(ngModel)]="selectedItems1" [ngModelOptions]="{standalone: true}"
                                [options]="dropdownList1|async" [style]="{'width':'inherit'}"
                                (onNodeSelect)="onDepartmentIdSelect($event)" placeholder="Select Department"></p-treeSelect>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-xs-12 col-sm-12" id="filter">
                            <p-treeSelect [containerStyleClass]="'w-100'" class="w-100 d-flex"
                                [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}"
                                [options]="dropdownList|async" [style]="{'width':'inherit'}"
                                (onNodeSelect)="onCameraIdSelect($event)" placeholder="Select Camera"></p-treeSelect>
                        </div>
                        

                        <div class="col-xl-4 col-sm-12 col-lg-12 col-xs-12 col-md-12 d-flex align-items-center">

                            <button class="btn default-outline ms-3 me-3" (click)="ResetFilters()"
                                *ngIf="selectedItems!==null||  selectedMoments?.startDate!==null ">&times;Cancel Filters
                            </button>

                            <button class="btn default text-white me-3 ms-1" style="width:80px" (click)="Submit()" style="width:80px"
                                [disabled]="(selectedMoments===null|| selectedMoments.startDate===null || selectedMoments.endDate===null)">
                                <span *ngIf="!loading">Submit</span>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                    *ngIf="loading"></span>
                            </button>&nbsp;

                            <button type="submit" class="btn default text-white me-3" (click)="submitForm()"
                                [disabled]="(selectedMoments==null ||selectedMoments.startDate===null || selectedMoments.endDate===null)||excelLoad">
                                <fa-icon icon="download" class="ms-1 me-1" style="cursor: pointer;"
                                    *ngIf="!excelLoad"></fa-icon>
                                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"
                                    *ngIf="excelLoad"></span> Excel
                            </button>&nbsp;

                            <div class="">
                                <!-- <div class="col-xl-2 co mel-sm-4 col-lg-4 col-xs-4 col-md-4 mb-3"> -->
                                <button class="btn default text-white" *ngIf="isdatewise || isLatest"
                                    (click)="BackToToday()" style="width:100px">
                                    <fa-icon icon="chart-area" *ngIf="!loader2" class="text-white me-2"></fa-icon>
                                    <span *ngIf="!loader2"> Live </span>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                        *ngIf="loader2"></span>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

   



    <div class="row me-3 ms-3">
        <div class="col-12">
            <div class="card" id="data-card">

                <div class="mb-2">
                    <div class="form-group" >

                        <div class="">
                            <button *ngIf="!isdatewise" (click)=getLatestData()
                                class="btn default me-2 text-white float-start">
                                <span class="spinner-border spinner-border-sm me-2 ms-2" role="status"
                                    aria-hidden="true" *ngIf="loaderLatest"></span>
                                <fa-icon icon="filter" *ngIf="!loaderLatest" class="ms-1 me-2 text-white"
                                    style="cursor: pointer;"></fa-icon>Latest
                            </button>
                        </div>

                        <span class="float-end ms-2 mt-2 me-2">
                            <span class="float-end" *ngIf="!(isdatewise || isLatest)"> 
                                <span class="spinner-grow spinner-grow-sm me-2 text-danger" role="status"
                                    aria-hidden="true">
                                </span>Live Data
                            </span>
                        </span>

                        <span class="d-flex justify-content-end p-1"> 

                            <span class="mr-2 mt-2"
                                *ngIf="isdatewise">
                                <b>Show:</b>
                            </span>

                            <select class="custom-select col-2" *ngIf="isdatewise" style="width: auto"
                                [(ngModel)]="pageSize" (ngModelChange)="sliceVD()">
                                <option ngValue=30>30 items per page</option>
                                <option ngValue=40>40 items per page</option>
                                <option ngValue=50>50 items per page</option>
                            </select>

                        </span>

                    </div>
                </div>


                <!-- ============================================================== -->
                <!-- END OF INPUTS -->
                <!-- ============================================================== -->




                <!-- ============================================================== -->
                <!-- DATA TABLE -->
                <!-- ============================================================== -->

                
                <div id="dataTable">
                    <div class="data-container" style="width:100%;overflow: auto;">

                        <div class="">

                            <div class="header" style="overflow: auto;">

                                <div scope="col" class="d-flex align-items-center justify-centent-center">
                                    <div>
                                        <b>SNo.</b>
                                    </div>
                                </div>

                                <div scope="col" class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <b>Violation Image</b>
                                    </div>
                                </div>

                                <div scope="col" class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <b>Violation Details</b>
                                    </div>
                                </div>

                                <div scope="col" class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <b> Department </b> 
                                    </div>
                                </div>

                                <div scope="col" class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <b>Camera Name</b>                                       
                                    </div>
                                </div>

                                <div scope="col" class="d-flex justify-content-center align-items-center">
                                    <div>
                                        <b>Detected Time</b>
                                    </div>   
                                </div>

                                <div *ngIf="isEditTable" class="d-flex justify-content-center align-items-center" scope="col">
                                    <div>
                                        <b>Is Valid?</b>
                                    </div>
                                </div>

                                <div>

                                </div>

                            </div>

                            <ng-container *ngIf="(violData | async).length > 0; else noData">
                                <div *ngFor="let data of violData|async;let i=index;trackBy: trackByFn" style="text-align: center;">
                                    <div *ngIf="data?.data">
                                        <p-carousel  [value]="data.data"  [id]="data.SNo"  >
                                            <ng-template let-d   pTemplate="d"  >
                                                <div class="data-wrapper p-2">

                                                    <div  class="column-flex" style="padding-left: 0.5rem">{{data.SNo}}.{{d.id}}</div>

                                                    <div class="d-flex justify-content-center align-items-center">

                                                        <div class="column-flex">
                                                            <img [src]="API+'/image/'+d.imagename[0]" class="image"
                                                            loading="lazy" (click)="imageCarousal(d)">
                                                            <br>

                                                            <div class="column-flex">

                                                                <button  *ngIf="(d.imagename).length<1" class="btn btn-sm  mt-2"
                                                                    (click)="imageCarousal(d)">&nbsp;&nbsp;
                                                                    <fa-icon icon="images" class="mr-1"></fa-icon> More Images
                                                                </button>
                                                            
                                                                <button class="btn btn-sm default text-white mt-2"
                                                                    (click)="downloadImage(API+'/image/'+d.imagename)">
                                                                    Download Image
                                                                    <fa-icon icon="download" class="ms-1 me-1"
                                                                    style="cursor: pointer;"></fa-icon>
                                                                </button>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div>
                                                            <div *ngFor="let object of d.object_data;let in=index"
                                                                ngClass="in!= (d.object_data.length-1) ? 'border-bottom':''">

                                                                <div>
                                                                    <div class="mb-3">{{object.violation_count}} </div>

                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            <div *ngFor="let key of objectKeys(object);">
                                                                                <div class="items" *ngIf="(key==='Helmet'?object[key]   ==='none'?false:object[key]===false?true:false:key.toLowerCase()==='vest'?object[key]!=='vest'?true:false:false)">

                                                                                    <input id="item1" type="checkbox"
                                                                                    [checked]="key==='Vest'?object[key].toLowerCase()=='vest'?true:false:object[key]">
                                                                                    <label for="item1"> <span class=""></span> {{key==='Vest'?'Vest':key}} </label>

                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex justify-content-center align-items-center">
                                                        {{d.department?d.department:'null'}}
                                                    </div>

                                                    <div class="d-flex justify-content-center align-items-center">
                                                        {{d.camera_name?d.camera_name:'null'}}
                                                    </div>

                                                    <div class="d-flex justify-content-center align-items-center">
                                                        {{d.timestamp|dateFormater}}
                                                    </div>

                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div class="column-flex">

                                                            <div *ngIf="isEditTable" id="verify" style="width:5rem"
                                                                class="d-flex justify-content-center align-items-center">

                                                                <div *ngIf="!d.violation_verificaton_status;else verified">

                                                                    <div class="" id="right">
                                                                        <input type="radio" [value]=0
                                                                            (change)="VerifyTrueViol($event,d,data.SNo)" [defaultValue]=true
                                                                            [id]="'yes'+String(data.SNo)+String(d.id)" class="">
                                                                        <label [for]="'yes'+String(data.SNo)+String(d.id)"      class="form-check-label text-success">Yes
                                                                        </label>
                                                                    </div>

                                                                    <div class="" id="wrong">
                                                                        <input type="radio" [value]=1
                                                                            (change)="VerifyFalseViol($event,d,data.SNo)"
                                                                            [defaultValue]=false [id]="'no'+String(data.SNo)+String(d.id)" class="">
                                                                        <label [for]="'no'+String(data.SNo)+String(d.id)" class="form-check-label text-danger">No
                                                                        </label>
                                                                    </div>

                                                                </div>

                                                                <ng-template #verified>
                                                                <!-- <div class="success-badge w-full mt-3">Verified</div> -->

                                                                    <div *ngIf="d.violation_verificaton_status">

                                                                        <div class="" id="right">
                                                                            <input type="radio" [value]=0
                                                                                (change)="VerifyTrueViol($event,d,data.SNo)" [defaultValue]=true
                                                                                [id]="'yes'+String(data.SNo)+String(d.id)" class=""  [defaultChecked]="d.violation_status === true">
                                                                            <label [for]="'yes'+String(data.SNo)+String(d.id)" class="form-check-label text-success">Yes
                                                                            </label>
                                                                        </div>

                                                                        <div class="" id="wrong">
                                                                            <input type="radio" [value]=1
                                                                                (change)="VerifyFalseViol($event,d,data.SNo)"
                                                                                [defaultValue]=false [id]="'no'+String(data.SNo)+String(d.id)" class="" [defaultChecked]="d.violation_status === false">
                                                                            <label [for]="'no'+String(data.SNo)+String(d.id)" class="form-check-label text-danger">No
                                                                            </label>
                                                                        </div>
                                                                    </div> 
                                                        
                                                                </ng-template> 

                                                            </div>
                                                        </div>
                                                    </div> 

                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div>
                                                            <div class="btn" (click)="IsDeleteData(deleteModal,d)">
                                                                <fa-icon icon="trash" class="text-danger"></fa-icon>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </ng-template>
                                        </p-carousel>
                                    </div>
                                </div>
                            </ng-container>

                        </div>

                        <ng-template #noData>
                            <div class="row card card-body" id="data-card">

                                <div class="d-flex justify-content-center align-items-center"
                                    *ngIf="dataFetchStatus==='success'">
                                    <h4> Violation Details are Not Found.</h4>
                                </div>

                                <div class="d-flex justify-content-center align-items-center"
                                    *ngIf="dataFetchStatus==='init'">
                                    <span class="spinner-border spinner-border-sm me-2" role="status"  ></span>
                                        <h4>Loading...</h4>
                                </div>

                                <div class="d-flex justify-content-center align-items-center"
                                    *ngIf="dataFetchStatus==='Loading'">
                                    <h4>Loading...</h4>
                                </div>

                                <div class="d-flex justify-content-center align-items-center"
                                    *ngIf="dataFetchStatus==='Error'">
                                    <h4>Error While Fetching the Data.</h4>
                                </div>

                            </div>
                        </ng-template>

                        <div class="d-flex mx-auto justify-content-center p-1">
                            <ngb-pagination [collectionSize]="total|async" [(page)]="page" [pageSize]="pageSize"
                                style="width: 95vw;overflow-x: auto;" (pageChange)="sliceVD()">
                            </ngb-pagination>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



    <!-- <div style="display: none;">
        <div class="col-12">
            <div #dangerAlert>

                <div class="mb-0"
                    style="border: 2px solid rgba(121, 20, 20, 0.699);background-color:rgba(214, 148, 148, 0.459);">
                    <div class="modal-header" style="text-align: center;color:rgba(121, 20, 20, 0.699);">
                        <h3 class="" style="color:rgb(196, 54, 54) !important;">Violation</h3> -->
                        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <!-- </div>

                    <div class="modal-body" *ngIf="currentViol">
                        <div class="row">

                            <div class="col-12">
                                <img [src]="API+'/image/'+currentViol.imagename" alt="" class="violImage" width="100%"
                                    style="width:30%;height: 30%;object-fit: fill;border-radius:5px 5px 5px 5px ;">
                            </div>
                            <div class="col-xl-12 col-md-12 col-lg-12 col-xs-12 text-white mt-2"> -->
                                <!-- <h5><b> <span></span> ID : </b>
                                    <span class="text-muted">{{currentViol.cameraid ?currentViol.cameraid:0}}</span>
                                </h5> -->
                                <!-- <h5><span class="text-muted"> Camera Name :</span>
                                    <b><span class="text-white">{{currentViol.camera_name
                                            ?currentViol.camera_name:'null'}}</span></b>
                                </h5> -->
                                <!-- <h5><b> Device Name : </b>
                                    <span class="text-dark">{{currentViol.deviceid?currentViol.deviceid:'--'}}</span>
                                </h5> -->

                                <!-- <h5><span class="text-muted"> Detected Time : </span>
                                    <b><span
                                            class="text-white">{{currentViol.timestamp?currentViol.timestamp:'--'}}</span></b>
                                </h5>



                            </div>


                        </div>
                    </div>
                </div>

            </div> -->


            <!-- ============================================================== -->
            <!-- END OF POP UP -->
            <!-- ============================================================== -->

        <!-- </div> -->

        <!-- <div style="width: 840px; height: 500px; text-align:center;margin:0; padding:0;" *ngIf="imageObject">
        <ng-image-slider #nav
          [images]="imageObject"
          [infinite]="false"
          [autoSlide]="1"
          [imageSize]="{width: '25%', height: 200}"
          slideImage="1"></ng-image-slider>
      </div> -->



        <!-----------------------------------MODAL TEMPLATE FOR EXCEL DOWNLOAD------------------------------------------------------------>


        <!-- <ng-template let-modal #editViolation>
            <div class="card p-2">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <div class="card-img-top">
                            <img [src]="API+'/image/'+editViol.imagename[0]"
                                style="width:100%;height:auto;object-fit:contain" alt=""> -->

                            <!-- <lib-ngx-image-zoom class="card-img-top" [enableScrollZoom]=true
                              [thumbImage]="API+'/image/'+editViol.imagename[0]"
                              [fullImage]="API+'/image/'+editViol.imagename[0]">
                            </lib-ngx-image-zoom> -->
                        <!-- </div>
                    </div>
                    <div class="col-6">
                        <div style="height: 90%;overflow:scroll;">
                            <div class="" style="width:100%;">
                                <h5 class="">{{editViol.analyticstype}}</h5><br />
                                <div style="width:100%;"
                                    *ngIf="editViol.analyticstype ==='PPE'||editViol.analyticstype ==='RA'">
                                    <div *ngFor="let object of editViol.object_data;let in=index" class="border-bottom">

                                        <div>
                                            <div class=""> {{object.violation_count}}</div><br>
                                            <ul class="list-unstyled p-4">
                                                <li>
                                                    <div *ngFor="let key of objectKeys(object);">

                                                        <div style="width:5rem" class="d-inline" id="editViol"
                                                            *ngIf="(key==='Helmet'?object[key]==='none'?false:object[key]===false?true:false:key==='Vest'?object[key]==='no_vest'?true:false:false)">
                                                            <input class="me-4" id="item1" type="checkbox"
                                                                [checked]="key==='Vest'?object[key]=='no_vest'?true:false:object[key]">
                                                            <label for="item1"
                                                                class="ms-4">{{key==='Vest'?'Vest':key}}</label>
                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <button style="width:50%" class="btn success"(click)="VerifyTrueViol()" >Correct</button><button  style="width:50%"(click)="VerifyFalseViol()" class="btn danger">Incorrect</button> -->
                    <!-- </div>
                </div>
            </div>
        </ng-template> -->


<ng-template let-modal #deleteModal>
    <div class="modal-body">
        <div class="modal-confirm">
            <div class="modal-content">

                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                </div>

                <div class="modal-body">
                    <p>Do you really want to delete this violation Details? This process cannot be undone.</p>
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" (click)="modal.close('Cross click')"
                        data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn danger" (click)="DeleteViolationData()">Delete</button>
                </div>

            </div>
        </div>
    </div>
</ng-template>