<div id="sidebarWrapper" class="">
    <nav id="sidebar">
        <div class="sidebar-header">
            <strong class="p-1">
                <img id="img" src="assets/images/tata-steel-logo.svg" class="logo" alt="">
            </strong>

            <div id="CollapseImg" class="p-1">
                <img src="assets/images/tata_steel_logo1.svg" class="logo" alt="">
            </div>
        </div>  

        <div class="m-2 d-block" [ngClass]="isCollapse?'d-flex justify-centent-center align-items-center':'float-start'" (click)="toggleSidebar()">
           <button class="btn"> <fa-icon icon="bars" class="text-white" size="2x"></fa-icon></button>
        </div>

           
        <ul class="list-unstyled components">

            <li class="mt-4">
                <a routerLink="/app/dashboard" placement="end" [ngbPopover]="isCollapse?'Dashboard':''" popoverTitle=""
                    popoverClass="custom-popover" triggers="mouseenter:mouseleave" routerLinkActive="active">
                    <fa-icon icon="home" class="me-2"></fa-icon>
                    <span>Dashboard</span> 
                </a>
            </li>

            <li class="mt-4" placement="end" [ngbPopover]="isCollapse?'ESI Monitor':''" popoverTitle=""
                popoverClass="custom-popover" triggers="mouseenter:mouseleave">
                <a routerLink="/app/jobsheetMoniter" routerLinkActive="active">
                    <fa-icon icon="file" class="me-2"></fa-icon>
                    <span> ESI Monitor</span></a>
            </li>

            <li class="mt-4">
                <a [ngbPopover]="isCollapse?'ESI Unplanned Jobs':''" popoverTitle="" popoverClass="custom-popover"
                    triggers="mouseenter:mouseleave" routerLink="/app/ESI_unallocated" routerLinkActive="active">
                    <fa-icon icon="file-circle-plus" class="me-2"></fa-icon>
                    <span> ESI Unplanned Jobs </span> 
                </a>
            </li>

            <li class="mt-4">
                <a [ngbPopover]="isCollapse?'ESI History':''" popoverTitle="" popoverClass="custom-popover"
                    triggers="mouseenter:mouseleave" routerLink="/app/ESIHistory" routerLinkActive="active">
                    <fa-icon icon="file-lines" class="me-2"></fa-icon>
                    <span> ESI History </span> 
                </a>
            </li>

            <li class="mt-4">
                <a [ngbPopover]="isCollapse?'Violations':''" popoverTitle="" popoverClass="custom-popover"
                    triggers="mouseenter:mouseleave" routerLink="/app/violations" routerLinkActive="active">
                    <fa-icon icon="triangle-exclamation" class="me-2"></fa-icon>
                    <span> Violations</span>
                </a>
            </li>

            <li class="mt-4">
                <a [ngbPopover]="isCollapse?'Traffic Count':''" popoverTitle="" popoverClass="custom-popover"
                    triggers="mouseenter:mouseleave" routerLink="/app/trafficCount" routerLinkActive="active">
                    <fa-icon icon="person-walking-dashed-line-arrow-right" class="me-2"></fa-icon>
                    <span> Traffic Count</span>
                </a>
            </li>

            <li class="mt-4">
                <a [ngbPopover]="isCollapse?'Camera Settings':''" popoverTitle="" popoverClass="custom-popover"
                    triggers="mouseenter:mouseleave" routerLink="/app/CameraSettings" routerLinkActive="active">
                    <fa-icon icon="camera" class="me-2"></fa-icon>
                    <span> Camera Settings</span> 
                </a>
            </li>
        
            <li class="mt-4">
                <a [ngbPopover]="isCollapse?'Settings':''" popoverTitle="" popoverClass="custom-popover" triggers="mouseenter:mouseleave" routerLink="/app/Settings" routerLinkActive="active">
                    <fa-icon icon="cog" class="me-2"></fa-icon>
                    <span>  Settings</span> 
                </a>
            </li>

            <li  *ngIf="userType !== 'user'" class="mt-4">
                <a [ngbPopover]="isCollapse?'user-management':''" popoverTitle="" popoverClass="custom-popover" triggers="mouseenter:mouseleave" routerLink="/app/user-management" routerLinkActive="active">
                    <fa-icon icon="users" class="me-2"></fa-icon>
                    <span>User Management</span>  
                </a>
            </li>

            <li class="mt-4" >
                <a routerLinkActive="active" 
                [ngbPopover]="isCollapse?userType ==='admin'?adminProfileDetails?.email:userProfileDetails?.email:''"  [ngClass]="isCollapse?'':''"   popoverTitle=""
                    popoverClass="custom-popover" triggers="mouseenter:mouseleave" 
                    (click)="userType === 'admin'? OpenViewAdminProfileModal(viewAdminProfileModal):OpenViewUserProfileModal(viewUserProfileModal)"  >
                    <fa-icon icon="user-circle" class="me-2" size="1x" ></fa-icon>
                    <span>{{userType === 'admin'?adminProfileDetails?.email:userProfileDetails?.email}}</span> 
                </a>
            </li>

            <li  lass="mt-4" style="bottom:0;" >
                <a  routerLinkActive="active"  triggers="mouseenter:mouseleave" [ngbPopover]="isCollapse?'Logout':''" popoverTitle="" popoverClass="custom-popover" class="m-3"  (click)=" userType === 'admin'? openAdminLogoutModal(adminLogoutModal):openUserLogoutModal(userLogoutModal)" class="logout m-3">
                    <fa-icon icon="power-off" class="me-2"></fa-icon>
                 <span> &nbsp;&nbsp; Log Out  &nbsp;&nbsp;</span> 
                </a>
            </li>

        </ul>
    </nav>

</div>



<ng-template let-modal #viewAdminProfileModal>

    <div class="modal-header" id="formContent">
        <h4 class="modal-title w-100">Profile Details :</h4>
        <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
    </div>

    
    <div class="modal-body">
        <div class="modal-confirm">
            <div class="modal-content">

                <div class="modal-header flex-column">
                    <i class="material-icons">
                        <fa-icon icon="user-circle" class="me-2" size="2x" ></fa-icon>
                    </i>
                </div>

                <div class="modal-body flex-column" >
                    <h5>
                        <b>Full Name: </b><span  class="modal-title w-100"> {{adminProfileDetails?.fullname}}</span>
                    </h5>
                    <h5>
                        <b>Department: </b><span class="modal-title w-100"> {{adminProfileDetails?.department}}</span>
                    </h5>
                    <h5>
                        <b>Contact Number: </b><span class="modal-title w-100"> {{adminProfileDetails?.contact}}</span>
                    </h5>
                    <h5>
                        <b>Email Id: </b><span class="modal-title w-100"> {{adminProfileDetails?.email}}</span>
                    </h5>
                    <h5>
                        <b>Token: </b><span class="modal-title w-100"> {{adminProfileDetails?.token}}</span>
                    </h5>
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn default-outline" (click)="OpenUpdateProfileModal(updateProfileModal)"data-dismiss="modal">
                        <fa-icon icon="edit" class="me-1"></fa-icon>
                    Edit </button>
                    <button type="button" class="btn default" (click)="OpenChangePassword(ChangePasswordModal)"> 
                    Change password</button>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<ng-template let-modal #viewUserProfileModal>

    <div class="modal-header" id="formContent">
        <h4 class="modal-title w-100">Profile Details :</h4>
        <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
    </div>

    
    <div class="modal-body">
        <div class="modal-confirm">
            <div class="modal-content">

                <div class="modal-header flex-column">
                    <i class="material-icons">
                        <fa-icon icon="user-circle" class="me-2" size="2x" ></fa-icon>
                    </i>
                </div>

                <div class="modal-body flex-column" >
                    <h5>
                        <b>Full Name: </b><span  class="modal-title w-100"> {{userProfileDetails?.fullname}}</span>
                    </h5>
                    <h5>
                        <b>Department: </b><span class="modal-title w-100"> {{userProfileDetails?.department}}</span>
                    </h5>
                    <h5>
                        <b>Contact Number: </b><span class="modal-title w-100"> {{userProfileDetails?.contact}}</span>
                    </h5>
                    <h5>
                        <b>Email Id: </b><span class="modal-title w-100"> {{userProfileDetails?.email}}</span>
                    </h5>
                    <h5>
                        <b>Token: </b><span class="modal-title w-100"> {{userProfileDetails?.token}}</span>
                    </h5>
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn default-outline" (click)="OpenUpdateProfileModal(updateProfileModal)"data-dismiss="modal">
                        <fa-icon icon="edit" class="me-1"></fa-icon>
                    Edit </button>
                    <button type="button" class="btn default" (click)="OpenChangePassword(ChangePasswordModal)"> 
                    Change password</button>
                </div>
            
            </div>
        </div>
    </div>
</ng-template>

<ng-template let-modal #updateProfileModal>
    <div class="border" style="background-color: white">
       
        <div class="modal-header" >
            <h3>Update Profile</h3>
            <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
        </div>
     
        <div class="modal-body">
  
            <form action="" class=""   [formGroup]="EditProfileForm">
                <div class="wrapper" id="input">
  
                    <div class="form-floating">
                        <input type="text" placeholder="Full Name" class="form-control"  formControlName="fullName" id="fullName"  (keydown.enter)="focusNext(department)"
                        #fullname/>
                        <label for="fullName"> Full Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" placeholder="Department" class="form-control" formControlName="department" id="department" (keydown.enter)="focusNext(contactnumber)"
                        #department/>
                        <label for="department"> Department</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" placeholder="Contact Number" class="form-control" formControlName="contactNumber" id="contactNumber" 
                        #contactnumber/>
                        <label  for="contactNumber"> Contact Number</label>
                    </div>
                </div> 
  
                <div class=" d-flex justify-content-center align-items-center">
                    <button type="submit" [disabled]="!EditProfileForm.valid" (click)="userType ==='admin'?UpdateAdminProfileSubmit():UpdateUserProfileSubmit()"  class="btn default" >
                        <span>Update</span>
                    </button>
                </div>   
                
            </form>
        </div>
    </div>
</ng-template>



<ng-template let-modal #ChangePasswordModal>

    <div class="border" style="background-color: white">
       
        <div class="modal-header" >
            <h3>Change password</h3>
            <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
        </div>
     
        <div class="modal-body">
            <form action="" class=""   [formGroup]="ChangePasswordForm">

                <div class="wrapper" id="input">
                    <div class="form-floating">
                        <input type="password" placeholder="Current password" class="form-control"  formControlName="currentPassword" id="currentPassword"  (keydown.enter)="focusNext(newPassword)"
                        #currentPassword/>
                        <label for="currentPassword"> Current password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" placeholder="New password" class="form-control" formControlName="newPassword" id="newPassword" (keydown.enter)="focusNext(confirmPassword)"
                        #newPassword/>
                        <label for="newPassword"> New password</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" placeholder="Confirm password" class="form-control" formControlName="confirmPassword" id="confirmPassword" 
                        #confirmPassword/>
                        <label  for="confirmPassword"> Confirm password</label>
                    </div>
                </div> 
  
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit"  [disabled]="!ChangePasswordForm.valid "(click)="userType ==='admin'?ChangeAdminPasswordSubmit():ChangeUserPasswordSubmit()" class="btn default"  >
                        <span>Submit</span>
                    </button>
                </div>   
                
            </form>
        </div>
    </div>
</ng-template>






<ng-template let-modal #adminLogoutModal>
    <div class="modal-body">
        <div class="modal-confirm">
            <div class="modal-content">

                <div class="modal-header flex-column">
                    <i class="material-icons">
                        <fa-icon icon="power-off"  size="2x" class="me-2 text-custome"></fa-icon>
                    </i>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                </div>

                <div class="modal-body">
                    <p>Do you really want to Logout?</p>
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" (click)="modal.close('Cross click')"
                        data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn default" (click)="adminLogout()">Logout</button>
                </div>

            </div>
        </div>
    </div>
</ng-template>

<ng-template let-modal #userLogoutModal>
    <div class="modal-body">
        <div class="modal-confirm">
            <div class="modal-content">

                <div class="modal-header flex-column">
                    <i class="material-icons">
                        <fa-icon icon="power-off"  size="2x" class="me-2 text-custome"></fa-icon>
                    </i>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                </div>

                <div class="modal-body">
                    <p>Do you really want to Logout?</p>
                </div>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" (click)="modal.close('Cross click')"
                    data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn default" (click)="userLogout()">Logout</button>
                </div>

            </div>
        </div>
    </div>
</ng-template>